.home-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home-container h1 {
  text-align: center;
  color: #0057D9; /* Título Primário */
  margin-bottom: 20px;
}

.home-container p {
  color: #333333; /* Texto Neutro Escuro */
  line-height: 1.6;
  margin-bottom: 20px;
}
