.back-to-home-button {
    position: fixed;
    bottom: 10px;
    right: 1px;
    padding: 10px 10px;
    font-size: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    z-index: 1000; /* Garantir que o botão fique acima de outros elementos */
  }
  
  .back-to-home-button:hover {
    background-color: #0056b3;
  }